.promo {
    background-color: $dark-blue-bg;
    padding-top: 40px;
    height: 970px;

    .title {
        font-size: 70px;
        color: #fff;
    }

    .description {
        margin-top: 20px;
        font-size: 20px;
        color: #fff;
    }


    .button {
        width: 260px;
        height: 79px;
        margin-top: 50px;
    }

    &__wrapper {
        max-width: 516px;
        padding-top: 190px;
    }

    &-bg {
        position: absolute;
        right: -170px;
        top: 0;
        display: block;
        width: 783px;
        height: 917px;
    }
}